<div class="home-container">
  <header class="header">
    <h1>Welcome to Talent Quest</h1>
    <p>Your one-stop solution for job postings and candidate management.</p>
  </header>
  <section class="features">
    <div class="feature">
      <h2>View Candidates</h2>
      <p>Browse and manage candidate applications.</p>
      <a routerLink="/candidates" class="btn">View Candidates</a>
    </div>
    <div class="feature">
      <h2>View Jobs</h2>
      <p>Check all the live jobs and get employed now.</p>
      <a routerLink="/jobs" class="btn">View Jobs</a>
    </div>
    <div class="feature">
      <h2>Post a Job</h2>
      <p>Create and manage job postings easily.</p>
      <a routerLink="/create-job" class="btn">Create a Job</a>
    </div>
    <div class="feature">
      <h2>Register Candidate</h2>
      <p>Not yet a registered candidate? Register now</p>
      <a routerLink="/registration" class="btn">Register Candidate</a>
    </div>
  </section>
</div>
